body {
  overflow-y: scroll; /* Show vertical scrollbar */
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline:0 !important
}

/* multiselect for dietary */
.selectBox {
  position: relative;
}
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#checkboxes {
  display: none;
}
#wine_search_results {
  position: absolute;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}